<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Product Types</h3>
      </div>
      <div class="panel-body">
        <div class="text-right"><%= link_to 'New Product Type', new_product_type_path,:class=>"btn btn-info" %></div>
        <br/>
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Name</th>
            <th colspan="2"></th>
          </tr>
          </thead>

          <tbody>
          <% @product_types.each do |product_type| %>
              <tr>
                <td width="71%"><%= product_type.name %></td>
                <td width="10%"><%= link_to 'Show', product_type %></td>
                <td width="9%"><%= link_to 'Edit', edit_product_type_path(product_type) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


