<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Product Type Detail</h3>
      </div>
      <div class="panel-body">
        <div class="text-right"><%= link_to 'Edit', edit_product_type_path(@product_type),:class=>"btn btn-info"   %> |
          <%= link_to 'Back', product_types_path,:class=>"btn btn-info"   %></div>
        <br/>
        <p id="notice"><%= notice %></p>
        <table class="table table-responsive">
        <tr>
          <td width="30%">Product Type Name : </td>
          <td width="70%"><%= @product_type.name %></td>
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>