<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Company Details</h3>
      </div>
      <div class="panel-body">
        <div class="text-right"><%= link_to 'New Company', new_company_path,:class=>"btn btn-info" %></div>
        <br/>
        <table class="table table-responsive">
          <thead>
          <tr>
            <th>Company name</th>
            <th colspan="2"></th>
          </tr>
          </thead>
          <tbody>
          <% @companies.each do |company| %>
              <tr>
                <td width="71%"><%= company.company_name %></td>
                <td width="10%"><%= link_to 'Show', company %></td>
                <td width="9%"><%= link_to 'Edit', edit_company_path(company) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


